<div class="container">
    <h4><a class="logo" [routerLink]="['']" routerLinkActive="active text-primary" [routerLinkActiveOptions]="{exact: true}">World Countries</a></h4>
    <nav>
        <ul>
            <li><a class="current-page" [routerLink]="['ngstyle']" routerLinkActive="active text-primary">Home</a></li>
            <li><a [routerLink]="['todo']" routerLinkActive="active text-primary" >Countries</a></li>
            <li><a [routerLink]="['word']" routerLinkActive="active text-primary" >Continents</a></li>
        </ul>
    </nav>
</div>